<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://ninaflix.tv/app"
        version="1.0.0">

  <name>Nina TV</name>
  <content src="index.html"/>
  <tizen:profile name="tv"/>

</widget>
